.filters {
	background-color: #FFF;
	height: 70px;
	width: inherit;
	border: 1px solid #DDD;
	border-radius: 4px;
	position: relative;
}
	.locations, .amenities {
		width: 25%;
		height: 100%;
		float: left;
		position: relative;
		box-sizing: border-box;
		padding: 15px 40px;
	}
	.locations	{
		border-right: 1px solid #DDD;
	}
	.filters h3 {
		font-weight: 600;
		margin: 0;
	}
	.filters h4 {
		font-weight: 400;
		font-size: 14px;
		margin: 0;
	}
		.popover {
			visibility: hidden;
			list-style: none;
			background-color: #FAFAFA;
			border: 1px solid #DDD;
			border-radius: 4px;
			position: absolute;
			z-index: 1;
			top: 100%;
			margin: 0;
			left: 0;
			width: 100%;
			box-sizing: border-box;
			padding: 20px 40px;
		}
			.popover h2 {
				font-size: 16px;
				margin-bottom: 0;
			}
			.popover ul {
				list-style: none;
				padding-left: 20px;
			}
		.locations:hover .popover,
		.amenities:hover .popover {
			visibility: visible;
		}
button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFF;
	height: 48px;
	width: 20%;
	border: 0;
	border-radius: 4px;
	position: absolute;
	right: 30px;
	top: 50%;
	margin-top: -24px;
}
button:hover {
	opacity: 0.9;
}
